<%# User data %>
<% const userData = user ? {
  id: user.id,
  roles: user.roles,
  isVerified: user.isVerified
} : null %>
<% if(userData) { %>
<div data-user="<%= JSON.stringify(userData) %>"></div>
<% } %>

<%# Main Scripts %>
<script type="module" src="/main.js" defer></script>
<%if(bundle) { %>
<script type="module" src="/<%= bundle %>Bundle.js" defer></script>
<% } %>

<%# Global Messages %>
<% if (messages.length) { %>
<script nonce="<%= nonce %>">
  document.addEventListener('DOMContentLoaded', () => {
    <% messages.forEach((message) => { %>
    window._UTIL.showGlobalMessage('<%= message.text %>', '<%= message.type %>');
    <% }) %>
  });
</script>
<% } %>