<div id="global-messages"></div>
<header class="nav-main" data-cmp="header">
  <div class="nav-main_wrapper">
    <div class="nav-main_left">
      <button id="hamburger" aria-expanded="false" aria-label="Toggle navigation menu" aria-controls="nav-main_menu">
        <i class="open i-menu"></i>
        <i class="close i-left-dir"></i>
      </button>
      <a class="nav-main_logo" href="/">
        CubesDirect
        <!-- <img src="" alt="<%= global.SITE_NAME %> logo"> -->
      </a>
    </div>
    <nav id="nav-main_menu">
      <div class="nav-main_categories">
        <%- include ('./category-nav', {mainNav: true}) %>
      </div>
    </nav>
    <div class="nav-main_right">
      <a href="<%= user ? '/account' : '/login' %>">
        <i class="i-user-circle-o"></i>
        <span class="sr-only"><%= user ? 'Account' : 'Login' %></span>
      </a>
      <a href="/cart">
        <span class="sr-only">Cart</span>
        <i class="i-basket"></i>
        <% if (cart && cart.count) { %>
        <span class="nav-main_cart-number <%= cart.count > 99 ? 'xl' : '' %>"><%= cart.count %></span>
        <% } %>
      </a>
    </div>
  </div>
</header>