<div id="global-messages"></div>
<header class="nav-main" data-cmp="header">
  <div class="nav-main_wrapper">
    <div class="nav-main_left">
      <button id="hamburger" aria-expanded="false" aria-label="Toggle navigation menu" aria-controls="nav-main_menu">
        <svg class="open" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <use href="/images/site/feather-sprite.svg#menu" />
        </svg>
        <svg class="close" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <use href="/images/site/feather-sprite.svg#x" />
        </svg>
      </button>
      <a href="/">
        CubesDirect
        <!-- <img src="" alt="<%= global.SITE_NAME %> logo"> -->
      </a>
    </div>
    <nav id="nav-main_menu">
      <%- include ('./category-nav') %>
    </nav>
    <div class="nav-main_right">
      <a href="<%= user ? '/account' : '/login' %>">
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <use href="/images/site/feather-sprite.svg#user" />
        </svg>
        <span class="sr-only"><%= user ? 'Account' : 'Login' %></span>
      </a>
      <a class="nav-main_cart" href="/cart">
        <span class="sr-only">Cart</span>
        <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <use href="/images/site/feather-sprite.svg#shopping-cart" />
        </svg>
        <% if (cart && cart.count) { %>
        <span class="nav-main_cart-number">(<%= cart.count %>)</span>
        <% } %>
      </a>
    </div>
  </div>
</header>