<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="page-account">
  <%- include ('../../partials/header') %>

  <main>
    <h1>Account</h1>
    <p>Welcome to your account.</p>
    <div class="verification-status <%= user.isVerified ? 'verified' : ''%>">
      <% if (user.isVerified) { %>
      <p>Your email address is verified</p>
      <% } else { %>
      <p>Your email address is not verified. Verifying your email address allows you to write reviews for products. You
        can re-send your verification email by clicking the below button at any time.</p>
      <button id="send-email-verification">Re-send Email Verification</button>
      <div class="send-email-verification-info"></div>
      <% } %>
    </div>
    <ul>
      <li><a href="/account/change-password">Change Password</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>