<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <%- include ('../../partials/account-menu') %>

    <h1>Account</h1>
    <p>Welcome to your account.</p>

    <% if (global.EMAIL_ENABLED) { %>
    <div class="account_verification <%= user.isVerified ? 'verified' : ''%>">
      <% if (user.isVerified) { %>
      <p>Your email address is verified</p>
      <% } else { %>
      <p>Your email address is not verified. Verifying your email address allows you to write reviews for products. You
        can re-send your verification email by clicking the below button at any time.</p>
      <div class="account_verification_resend" data-cmp="accountVerificationResend">
        <button>Re-send Email Verification</button>
        <div class="messages"></div>
      </div>
      <% } %>
    </div>
    <% } %>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>