<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <%- include ('../../partials/account-menu') %>

    <h1>Change Password</h1>
    <form id="change-password">
      <fieldset>
        <label for="password">Current Password</label>
        <input type="password" name="password" id="password">
      </fieldset>
      <hr>
      <fieldset>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword">
      </fieldset>
      <fieldset>
        <label for="newPasswordConfirm">Confirm New Password</label>
        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm">
      </fieldset>
      <div class="messages"></div>
      <input type="submit" value="Change Password">
    </form>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>