<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Log in</h1>
    <form id="login">
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="email">
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </fieldset>
      <div class="messages"></div>
      <input type="submit" value="Log in">
    </form>
    <hr>
    <p>Don't have an account for <%= global.SITE_NAME %>? <a href="/register">Register here</a>.</p>
    <% if (global.EMAIL_ENABLED) { %>
    <p>Forgot your password? <a href="/reset-password-request">Reset password here</a>.</p>
    <% } %>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>