<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main class="box flex-center minimal-content">
    <h1>Log in</h1>
    <form id="login">
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="email">
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="current-password">
      </fieldset>
      <p class="login_password-reset">
        Forgot your password? <a href="/reset-password-request">Reset Password</a>.
      </p>
      <div class="messages"></div>
      <button type="submit">Log in</button>
    </form>
    <div class="spacer-1"></div>
    <div class="form-area callout-area">
      <p>Don't have a <%= global.SITE_NAME %> account?<br>
        <a href="/register">Register here</a>.
      </p>
      <% if (global.EMAIL_ENABLED) { %>
      <p>Forgot your password? <a href="/reset-password-request">Reset password here</a>.</p>
      <% } %>
    </div>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>