<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Login</h1>
    <form id="login">
      <fieldset>
        <label for="email-login">Email</label>
        <input type="email" name="email" id="email-login" autocomplete="email">
      </fieldset>
      <fieldset>
        <label for="password-login"></label>
        <input type="password" name="password" id="password-login">
      </fieldset>
      <div class="error-text"></div>
      <input type="submit" value="Log in" id="submit-login">
    </form>
    <hr>
    <p>Don't have an account for <%= global.SITE_NAME %>? <a href="/register">Register here</a>.</p>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>