<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="page-account">
  <%- include ('../../partials/header') %>

  <main>
    <%- include ('../../partials/account-menu') %>

    <h1>Orders</h1>
    <% if (orders.length) { %>
    <ul>
      <% orders.forEach((order) => { %>
      <li>
        Total: <%= stringUtils.formatUsd(order.totalAmount) %><br>
        <a href="/account/order/<%= order.id %>">View Order Details</a>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <h2>You have not placed any orders yet.</h2>
    <p>If you place an order, you can view its details by coming to this page.</p>
    <% } %>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>