<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Reset Account Password</h1>
    <p>To reset your password, enter the email address your <%= global.SITE_NAME %> account was registered with. If your
      email matches an active account, a password reset link will be sent.</p>
    <form id="reset-password">
      <fieldset>
        <label for="email-reset-password">Account Email</label>
        <input type="email" name="email" id="email-reset-password">
      </fieldset>
      <input type="submit" value="Submit">
    </form>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>