<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Reset Password</h1>
    <% if (global.EMAIL_ENABLED) { %>
    <p>Please enter a new password for your <%= global.SITE_NAME %> account.</p>
    <form id="reset-password">
      <fieldset>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password">
      </fieldset>
      <fieldset>
        <label for="passwordConfirm">Confirm New Password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
      </fieldset>
      <div class="messages"></div>
      <input type="submit" value="Submit">
    </form>
    <% } else { %>
    <p>Email is currently disabled - reset password functionality is not available.</p>
    <% } %>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>