<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Cart</h1>
    <% if (items.length) { %>
    <ul>
      <% items.forEach(item => {%>
      <li class="product">
        <a href="/product/<%= item.Product.id %>"><img src="<%= item.Product.images[0] %>"
            alt="<%= item.Product.name %>" width="100"></a>
        <div><a href="/product/<%= item.Product.id %>"><%= item.Product.name %></a></div>
        <div>Price: $<%= item.Product.price.toFixed(2) %></div>
        <form class="cart-item-update">
          <input type="hidden" name="cartItemId" value="<%= item.id %>">
          <input type="number" name="quantity" value="<%= item.quantity %>" min="1" max="100">
          <input type="submit" value="Update">
          <div class="messages"></div>
        </form>
        <form class="cart-item-remove">
          <input type="hidden" name="cartItemId" value="<%= item.id %>">
          <input type="submit" value="Remove">
          <div class="messages"></div>
        </form>
      </li>
      <% }); %>
      <hr>
      <h2>Subtotal: $<%= subtotal.toFixed(2) %></h2>
      <br><br>
      <a href="/checkout">Proceed to Checkout</a>
    </ul>
    <% } else { %>
    <p>There are currently no products in your cart.</p>
    <% } %>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>