<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main data-cmp="checkout">
    <h1>Checkout - Payment</h1>

    <%# Shipping Address %>
    <div class="checkout_shipping-address">
      <h3>Shipping address:</h3>
      <p>
        <%= `${shippingAddress.firstName} ${shippingAddress.lastName}` %><br>
        <%= shippingAddress.street %><br>
        <%= `${shippingAddress.city}, ${shippingAddress.state} ${shippingAddress.zip}` %>
      </p>
      <div class="checkout_change-shipping-address">
        <div class="messages"></div>
        <button>Change Address</button>
      </div>
    </div>

    <%# Billing Address %>
    <div class="checkout_billing-address">
      <h3>Billing Address</h3>
      <% let defaultAddressIndex = null;%>

      <% if (!isGuest && addresses?.length) { %>
      <% addresses.forEach((addr, index) => { if(addr.default) defaultAddressIndex = index})%>
      <button class="checkout_show-address-form <%= defaultAddressIndex === null ? 'hide' : '' %>">
        Enter a New Address
      </button><br>
      <h3>Or select a saved address below</h3>
      <form id="checkout-user-address">
        <select name="addressIndex"
          value="<%= (defaultAddressIndex || defaultAddressIndex === 0) ? defaultAddressIndex : 'new' %>">
          <option value="new">Enter New Address</option>
          <% addresses.forEach((address, index) => { %>
          <option value="<%= index %>" <%if(index === defaultAddressIndex) {%>selected="true" data-default="true"
            <%}%>><%= address.title %></option>
            <% });%>
        </select>
        <div class="checkout_user-addresses">
          <% addresses.forEach((address, index) => { %>
          <div data-index="<%= index %>" <% if(defaultAddressIndex !== index) { %>class="hide" <% } %>>
            <%= `${address.firstName} ${address.lastName}` %><br>
            <%= address.street %><br>
            <%= `${address.city}, ${address.state} ${address.zip}` %>
          </div>
          <% });%>
        </div>
        <div class="messages"></div>
      </form>
      <% } %>

      <div class="checkout_new-address <%= defaultAddressIndex !== null ? 'hide' : '' %>">
        <%- include('../../partials/address-form', {formId: 'checkout-new-address', submitText: '', isGuest: true, formClass: null, formIndex: null, address: null, hideSubmit: true}) %>
      </div>
    </div>

    <%# Payment %>
    <div class="checkout_credit-card">
      <h3>Payment</h3>
      <b>Subtotal: $<%= subtotal.toFixed(2) %></b>
      <form id="checkout-credit-card">
        <fieldset>
          <label for="cardNumber">Card Number</label>
          <input type="text" name="cardNumber" id="cardNumber" value="1111">
        </fieldset>
        <fieldset>
          <label for="cardExpiry">Card Expiration</label>
          <input type="text" name="cardExpiry" id="cardExpiry" value="01/2030">
        </fieldset>
        <fieldset>
          <label for="cardCVC">Card CVC</label>
          <input type="text" name="cardCVC" id="cardCVC" value="111">
        </fieldset>
        <div class="messages"></div>
        <input type="submit" value="Place Order">
      </form>
    </div>

  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>